USE [HCG]
GO
/****** Object:  Table [dbo].[tblluat]    Script Date: 12/16/2021 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblluat](
	[maluat] [char](10) NOT NULL,
	[noidung] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblsukien]    Script Date: 12/16/2021 5:06:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblsukien](
	[masukien] [varchar](10) NOT NULL,
	[motasukien] [nvarchar](50) NOT NULL,
	[loaisukien] [varchar](50) NULL,
 CONSTRAINT [PK__tblsukien__3108FC185EFD1FA0] PRIMARY KEY CLUSTERED 
(
	[masukien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblluat] ([maluat], [noidung]) VALUES (N'r1        ', N'K1^HL4^N1^ST10>KL1')
INSERT [dbo].[tblluat] ([maluat], [noidung]) VALUES (N'r2        ', N'K1^HL4^N1^ST14>KL1')
INSERT [dbo].[tblluat] ([maluat], [noidung]) VALUES (N'r3        ', N'K4^HL4^N1^ST10>KL1')
GO
INSERT [dbo].[tblsukien] ([masukien], [motasukien], [loaisukien]) VALUES (N'B1', N'Luật sư', N'nghebome')
INSERT [dbo].[tblsukien] ([masukien], [motasukien], [loaisukien]) VALUES (N'B10', N'Ngân hàng', N'nghebome')
INSERT [dbo].[tblsukien] ([masukien], [motasukien], [loaisukien]) VALUES (N'B11', N'Kế toán', N'nghebome')
GO
